<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>

    <!-- A -->
    <li>
            <a href="{{ path('Adviserss') }}">Advisers...</a>
    </li>

    <!-- B -->

        <li>
            <a href="{{ path('bird') }}">Bird</a>
        </li>
 
    
    <!-- C -->

    <!-- D -->
    <ul>
        <li>
            <a href="{{ path('if-today-was') }}">If today was...</a>
        </li>
    <ul/>

    <!-- E -->
    <li>
    <a href="{{ path('whatever-you-do') }}">Whatever you do</a>
    </li>
    <!-- F -->
            <li>
                <a href="{{ path('lemon') }}">Lemon</a>
            </li>
            <li>
                <a href="{{ path('lie') }}">A lie can be halfway</a>
            </li>
    <!-- G -->
    
        <li>
            <a href="{{ path('the-eye-looks') }}">The eye looks...</a>
        </li>

    <!-- H -->

    <li><a href="...">No man...</a></li>
    
    <!-- I -->

            <li>
             <a href="{{ path('in-one-ear') }}">In one ear...</a>
            </li>
    <!-- J -->

    <!-- K -->
        <li>
            <a href="{{ path('kill') }}">kill</a>
        </li>
    <!-- L -->
    
        <li>
            <a href="{{ path('in-the-land') }}">In the land...</a>
        </li>
        
        <li>
            <a href="{{ path('laws-catch-flies') }}">Laws catch flies...</a>
        </li>

    <!-- M -->
    <li>
        <a href="{{ path('early') }}">early</a>
    </li>

    <!-- N -->
     <li>
            <a href="{{ path('best-defence') }}">The best defence</a>
     </li>
     <li>
            <a href="{{ path('discretion') }}">Discretion</a>
     </li>
     
    <!-- O -->
    <li>
            <a href="{{ path('zrob-komu-dobrze') }}">Zrób komu dobrze...</a>
    </li>
    <!-- P -->
        <li>
            <a href="{{ path('pasuje') }}">pasuje...</a>
        </li>
    <!-- Q -->
  <li>
            <a href="{{ path('people') }}">Young people should...</a>
        </li>
    <!-- R -->
    <li>
            <a href="{{path('focusontoday')}}">Focus on today...</a>
    </li>
    <!-- S -->
    <li>
        <a href="{{ path('snooze') }}">Snooze</a>
    </li>
    <!-- T -->

    <!-- U -->

    <!-- V -->

    <!-- W -->

    <!-- X -->

    <!-- Y -->

    <!-- Z -->

    {% block body %}{% endblock %}

    <footer>Version: 0.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
